<div class="capability" ng-if="capability.params.length > 0" ng-style="{background: capability.backgroundColor}">
	<p class="name">{{getNameFromURI(capability.type)}} - ({{messageCapability.topic}} - {{messageCapability.msg}})</p><button type="button" class="btn" ng-click="add(capability.type,messageCapability.topic)" ng-if="!capability.disabled">add</button>
	<div ng-repeat="parameter in capability.params">
		<div ng-if="parameter.mode == 'write'" ng-style="{background: parameter.backgroundColor }">		
				{{getNameFromURI(parameter.p)}} <!--<input type="text"/>--> <button type="button" class="btn" ng-click="add()" ng-if="!parameter.disabled">add</button>
		</div>
	</div>
</div>