<div class="condition">
	<div class="logic-operator" ng-if="condition.logicOperator">
		<select ng-click="stopPropagation($event)" ng-model="condition.logicOperator">
			<option value=""></option>
			<option value="and">and</option>
			<option value="or">or</option>
		</select>
	</div>
	<div class="col-md-2 not">
		<input type="checkbox" name="not" value="not" ng-click="stopPropagation($event)" ng-model="condition.not">NOT
	</div>
	<div class="col-md-6 parameter text-center" ng-click="select(condition,$event)" ng-style="{background: condition.backgroundColor}">
		<div class="placeholder" ng-if="condition.parameter == null">PARAMETER</div>
		<div ng-if="condition.parameter != null">
			{{getNameFromURI(condition.parameter.capability.type)}}/{{getNameFromURI(condition.parameter.parameter.p)}}
		</div>
	</div>
	<div class="col-md-2 text-center">
		<select ng-click="stopPropagation($event)" ng-model="condition.comparator">
			<option value=""></option>
			<option value="==">==</option>
			<option value="!=">!=</option>
			<option value="">.</option>
			<option value="=">.=</option>
			<option value=">">.</option>
			<option value=">=">.=</option>
		</select>
	</div>
	<div class="col-md-2 text-center">
		<input type="text" size="7" ng-click="stopPropagation($event)" ng-model="condition.value">
	</div>
</div>