<div class="while-do group solid rounded-15" ng-click="stopPropagation($event)" ng-style="{background: block.backgroundColor}">
	
	<div class="while solid rounded-15">
		<div class="keyword">WHILE:</div>
		<div class="condition_container">
			<div id="conditions">
				<div ng-repeat="condition in block.conditions">
					<div ng-include="'condition.html'">
					</div>
				</div>
			</div>
			<button type="button" class="btn btn-primary btn-sm" ng-click="addCondition(block)">add another condition</button>
		</div>
	</div>
	
	<div class="do solid rounded-15">
		<div class="keyword">DO:</div>
		<div class="do block dashed rounded-15" ng-click="select(block.do,$event)" ng-style="{background: block.do.backgroundColor}">
			<div class="placeholder" ng-if="block.do.sequence.length == 0">BLOCK</div>
			<div ng-repeat="doblock in block.do.sequence">
				<div ng-include="doblock.class+'.html'" ng-init="block = doblock">
				</div>
			</div>
		</div>
	</div>
	
	<div class="overflow">
		<button type="button" class="btn pull-right btn-primary" ng-click="removeInstruction(block,$event)">remove</button>
	</div>
	
</div>
