<h1>HELLO Ontorob!</h1>
		
     <div class="capability" id="capability_container">
		<!--<h3>Navigation</h3>
		<div class="row">
	     	<div class=" col-md-10">
				x: <input type="text" ng-model="capabilities.navigation.x">
				y: <input type="text" ng-model="capabilities.navigation.y">
				z: <input type="text" ng-model="capabilities.navigation.z">
			 	
			</div>	
		</div>
		<button type="button" ng-click="trigger('navigation')" class="btn  navbar-btn btn-custom pull-left">
			Send action
	 	</button>
	</div>-->
			
	<!--<div class="row">
	  <div class="col-md-10">
	  
		  <div class="list-group">
			  <li  class="list-group-item" ng-repeat="capa in capabilities"  > {{capa}}  </li>
		  </div>
	  
      </div>-->
	 </div> 